<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>PrBoom</name>
        <version>1.0</version>
        <author>simsor</author>
        <id>SIMSOR-PRBOOM</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>